<div id="contenitore_principale">

  <div>
    <h6><b>Car List Component</b></h6>

    <label>Inserisci un Colore</label> 
    <br>
    <input type="text"  placeholder="scrivi qualche cosa"  #colore>
    <br>
    <br>
    <label>Numero di porte</label>
    <br>
    <input type="text"  placeholder="scrivi qualche cosa"  #numero>
    <br>
    <br>
    <label>tipo di cambio  </label>
    <br>
    <input type="text"  placeholder="scrivi qualche cosa"  #tipo>
    <br>
    <br>
    <button (click)="onClick(colore, numero, tipo)">Save</button>
  

  </div>

  <br>

  <div>

    <h6> <b>Componente car list</b></h6>
    <p> ultima auto  {{testo_salvato}}</p>
    <p>lista auto {{testo_salvato}}</p>

  </div>

</div>